table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: darkslategray;
  }
  
  .table__statistics-item {
    border: none;
    color: white;
  }
  
  .table__economic-value,
  .table__transactions-item-first {
    padding-inline-start: 20px;
    text-align: left;
  }
  
  .table__transactions-item {
    padding-inline-start: 40px;
  }
  
  .table__statistics {
    background: #6f2a6f;
  }
  
  .table__economic-value {
    background: gray;
    color: black;
    border-top: none;
  }
  
  .table__recipients,
  .table__economic-value,
  .table__transactions-item {
    text-align: left;
  }
  